# Imports

In [14]:
from ScraperFC.sofascore import Sofascore
from ScraperFC import sofascore as sfc_sofascore

# Sofascore

In [15]:
sofascore_scrapper = Sofascore()

## Request Workaround

In [19]:
import requests


def requisicao_personalizada(url: str):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36',
        'Accept': 'application/json, text/plain, */*',
        'Referer': 'https://www.sofascore.com/',
        'Origin': 'https://www.sofascore.com',
    }

    response = requests.get(url, headers=headers)
    print(f"Fazendo requisição para {url} -> Status: {response.status_code}")
    
    # Se a resposta for 403, levanta um erro claro
    if response.status_code == 403:
        raise PermissionError("Acesso Proibido (403) à API do Sofascore. A segurança pode ter aumentado.")
    
    # Adicionamos um método .json() para compatibilidade
    return response

sfc_sofascore.botasaurus_get = requisicao_personalizada

# Matches

In [17]:
sofascore_scrapper.get_match_id_from_url("https://www.sofascore.com/pt/football/match/liverpool-arsenal/HQfh#id:12436568")

12436568

## Single Match

In [20]:
liv_ars_df = sofascore_scrapper.scrape_team_match_stats(11913739)

Fazendo requisição para https://api.sofascore.com/api/v1/event/11913739/statistics -> Status: 200

In [21]:
type(liv_ars_df)

pandas.core.frame.DataFrame

In [22]:
liv_ars_df.head()

                 name         home         away  ...  awayTotal period    group
0                Aces            3            3  ...        NaN    ALL  Service
1       Double faults            1            1  ...        NaN    ALL  Service
2         First serve  56/83 (67%)  72/97 (74%)  ...       97.0    ALL  Service
3        Second serve  26/27 (96%)  24/25 (96%)  ...       25.0    ALL  Service
4  First serve points  41/56 (73%)  47/72 (65%)  ...       72.0    ALL  Service

[5 rows x 14 columns]

# Heatmap